<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="" method="post">
   username <input type="text" name="username">
  pw  <input type="text" name="password">
   fullname <input type="text" name="fullName">
   age <input type="text" name="age">
<!--   dateofbirth <input type="text" name="dateOfBirth">-->
   string <input type="text" name="address">
   phoneNum <input type="text" name="phoneNum">
   image <input type="text" name="image">
    <input type="submit" value="save">
</form>
</body>
</html>