<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<table>
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Image</th>
        <th>Category</th>
        <th>Edit</th>
    </tr>
    <tr th:each="product:${products}">
        <td th:text="${product.name}"></td>
        <td th:text="${product.price}"></td>
        <td th:text="${product.quantity}"></td>
        <td th:text="${product.image}"></td>
        <td th:text="${product.category}"></td>
        <td><a th:href="@{/products/{id}/edit(id=${product.id})}">edit</a></td>
        <td><a th:href="@{/products/{id}/delete(id=${product.id})}">delete</a></td>
    </tr>
</table>
</body>
</html>