<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Image</th>
        <th>Category</th>
    </tr>
    <tr th:each="p:${products}">
        <td th:text="${p.name}"></td>
        <td th:text="${p.price}"></td>
        <td th:text="${p.quantity}"></td>
        <td><img width="100" height="100" th:src="@{'/image/' + ${p.image}}" alt=""></td>
        <td th:text="${p.category.name}"></td>
    </tr>
</table>
</body>
</html>