<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>List Category</h2>
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Edit</th>
    </tr>
    <tr th:each="category:${categories}">
        <td th:text="${category.id}"></td>
        <td th:text="${category.name}"></td>
        <td><a th:href="@{categories/{id}/edit(id=${category.id})}">Edit</a></td>
    </tr>
</table>
</body>
</html>